@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
}

.facebook-bg {
    background: #1977f3;
}
  
.instagram-bg {
    background: url('../img/ig-bg.png');
    background-size: 100% 100%;
}
  
.twitter-bg {
    background: #1da1f2;
}
  
.youtube-bg {
    background: #ff0000;
}

.btn {
    height: 60px;
    line-height: 60px;
    padding: 0 35px;
    display: inline-block;
    cursor: pointer;
}
.btn:disabled {
    opacity: 0.8;
}
  
.social-link {
    width: auto;
    height: 101px;
    opacity: 0.75;
    transition: 0.2s;
}
.social-link:hover {
    opacity: 1;
}
@media (min-width: 768px) {
    .social-link {
        width: 170px;
        height: 180px;
    }
}

.menu {
    background: linear-gradient(90deg, #fff 50%, #164194 50%);
}
.content {
    width: 100%;
}
@media (min-width: 768px) {
    .header {
        background: linear-gradient(90deg, #fff 50%, #164194 50%);
    }
}
@media (min-width: 1024px) {
    .menu .content {
        background: linear-gradient(90deg, #fff 40%, #164194 40%);
    }
    .header .content {
        background: linear-gradient(90deg, #fff 40%, #164194 40%);
    }
    .content {
        width: 1000px;
        margin: 0 auto;
    }
}

.post-img {
    flex: 0 0 235px;
    min-height: 235px;
    height: 235px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
  
.priority {
    transition: 0.3s;
    padding: 30px 20px;
}
.priority span {
    transition: 0.3s;
    opacity: 0;
}
.priority:hover {
    padding: 20px 20px;
}
.priority:hover span {
    opacity: 1;
}
 
.timeline-horizontal {
    padding: 0 12px;
    border-left: 6px solid #dee9fc;
}
.timeline-horizontal > div {
    position: relative;
    padding-right: 15px;
    margin-bottom: 16px;
}
.timeline-horizontal > div:before {
    display: block;
    background: #164194;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: -20px;
    border-radius: 9999px;
    transition: 0.2s;
}
@media (min-width: 768px) {
    .timeline-horizontal {
        height:102px;
        padding: 12px 0;
        border-left: 0;
        border-bottom: 6px solid #dee9fc;
    }
    .timeline-horizontal > div {
        position: relative;
        padding-right: 15px;
        margin-bottom: 0;
    }
    .timeline-horizontal > div > div {
        margin-left: -0.5rem;
        margin-right: -2.8rem;
        min-width: 70px;
    }
    .timeline-horizontal > div:first-child > div {
        margin-left: 0;
        margin-right: 0;
    }
    .timeline-horizontal > div:nth-child(odd) > div {
        display: flex;
        flex-direction: column-reverse;
    }
    .timeline-horizontal > div:nth-child(odd):before {
        display: block;
        background: #164194;
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: auto;
        bottom: -20px;
        left: 0px;
        border-radius: 9999px;
        transition: 0.2s;
    }
    .timeline-horizontal > div:nth-child(even) {
        padding-top: 20px;
        transform: translateY(114%);
    }
    .timeline-horizontal > div:nth-child(even):after {
        display: block;
        background: #164194;
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        bottom: -20px;
        left: 0px;
        border-radius: 9999px;
        transition: 0.2s;
    }
    .timeline-horizontal > div:nth-child(even):before {
        display: none;
    }
}
  
.timeline-vertical {
    padding: 0 12px;
    border-left: 6px solid #dee9fc;
}
.timeline-vertical > div {
    position: relative;
    padding-right: 15px;
}
.timeline-vertical > div:before {
    display: block;
    background: #164194;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 40%;
    transform: translateY(50%);
    left: -20px;
    border-radius: 9999px;
    transition: 0.2s;
}

.gallery {
    width: 100%;
}
.gallery img {
    height: 160px;
}
@media (min-width: 768px) {
    .gallery img {
        height: 230px;
    }
}
  
.priority-slider {
    display: flex !important;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.priority-slider .slick-track {
    width: calc(100% - 96px);
}
.priority-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.prose {
    line-height: 1.5;
}

.prose p {
    margin-top: 0.15em;
    margin-bottom: 0.15em;
}

.prose ul {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.placeholder::placeholder {
    @apply italic font-light text-gray-400;
}
